<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="container col-10 col-xxl-8 pl-3 ml-2" style="margin-right: 0; padding-right: 0;">
        <div class="row flex-lg-row-reverse align-items-right justify-content-right pl-5 pr-0 g-1 ml-4">
         
          <div class="col-lg-12">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Available Pets</h1>
                  
              <h3>Labrador Dog</h3>
              <div class="browse">
              <img src="/Labrador_on_Quantock_(2175262184).jpg" alt="labrador dog" height="300" width="500">
              </div>
              <pre style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
  Dog                                                  <button>Interested</button>
  Breed: Labrador
  Age: 3 years old
  Gender: Male
              </pre>                
          </div>
        </div>
      </div>
    </div>  
    
</body>
</html>