<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm" action="/login" method="POST">
        (username - letters both upper and lower case and digits only)<br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        (password - at least 4 characters (only digits and letters) - have at least one digit and one letter)<br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
    <script src="./loginJs.js"></script>
</body>
</html>
