
<form action="/logout" method="post">
    Are you sure?<br>
    <button type="submit">Yes</button>
    <button type="reset"><a href="/Question_8-Project" style="text-decoration: none; color:black">No</a></button>
</form>
